<style>
 .state {
   fill: #ccc;
 }

 .state-boundary {
   fill: none;
   stroke: #fff;
 }

 .state.selected {
   opacity: .5;
   stroke: #fff;
 }

 .rep-details > *:not(:last-child) {
   margin-bottom: .75em;
 }

 .rep-title,
 .rep-phone,
 .rep-email {
   font-weight: bold;
 }

 #sr-container {
   display: inline-block;
   width: 100%;
 }

 #sr-container #sr-reps {
   width: 40%;
   float: left;
 }

 #sr-container #map {
   width: 60%;
   float: right;
 }

 #sr-reps .rep:not(.selected) {
   display: none;
 }

 @media only screen and (max-width: 860px) {
   #sr-container #sr-reps,
   #sr-container #map {
     width: 100%;
     float: left;
   }
 }
</style>

<div id="sr-container">
  <div id="map"></div>
  <div id="sr-reps">
    <strong id="please-select">
      Please select your region below to be matched with the right representative.
    </strong>
    <div id="reps">
      <div class="rep" id="tim-young">
        <h2>Tim Young</h2>
        <div class="rep-details">
          <p class="rep-phone">(440) 670-2819</p>
          <p class="rep-email"><a href="mailto:tyoung@aci-sales.com">tyoung@aci-sales.com</a></p>
        </div>
      </div>
      <div class="rep" id="jeff-evangelista">
        <h2>Jeff Evangelista</h2>
        <div class="rep-details">
          <p class="rep-phone">(610) 745-0381</p>
          <p class="rep-email"><a href="mailto:jevangelista@aci-sales.com">jevangelista@aci-sales.com</a></p>
        </div>
      </div>
      <div class="rep" id="matt-little">
        <h2>Matt Little</h2>
        <div class="rep-details">
          <p class="rep-phone">(704) 906-8888</p>
          <p class="rep-email"><a href="mailto:mlittle@aci-sales.com">mlittle@aci-sales.com</a></p>
        </div>
      </div>
      <div class="rep" id="arthur-hernandez">
        <h2>Arthur Hernandez</h2>
        <p class="rep-phone">(713) 806-9339</p>
        <p class="rep-email"><a href="mailto:ahernandez@aci-sales.com">ahernandez@aci-sales.com</a></p>
      </div>
      <div class="rep" id="dave-conley">
        <h2>Dave Conley</h2>
        <div class="rep-details">
          <p class="rep-phone">(614) 571-2169</p>
          <p class="rep-email"><a href="mailto:dconley@aci-sales.com">dconley@aci-sales.com</a></p>
        </div>
      </div>
      <div class="rep" id="chad-jones">
        <h2>Chad Jones</h2>
        <div class="rep-details">
          <p class="rep-phone">(440) 864-2313</p>
          <p class="rep-email"><a href="mailto:cjones@aci-sales.com">cjones@aci-sales.com</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
